/*==================== GOOGLE FONTS ====================*/


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* VARIABLES CSS 
     */
   

    /* HSL color mode */
    --first-color: 
    --first-color-second:
    --first-color-alt: 
    --title-color: 
    --text-color: 
    --text-color-light:
    --input-color: 
    --body-color: 
    --container-color:
    --scroll-bar-color:
    --scroll-thumb-color:

    /*========== FUENTE Y TTIPOGRAFIA  ==========*/
    --body-font: 
    --big-font-size:
    --h1-font-size:
    --h2-font-size: 
    --h3-font-size: 
    --normal-font-size: 
    --small-font-size: 
    --smaller-font-size: 

    /*========== Font weight ==========*/
    --font-medium: ;
    --font-semi-bold: ;

   
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== VARIABLES DARK THEME==========*/

